
$border-color: lavender;
$secondary-color: rgb(255, 213, 128); 
$primary-color: #320644;
$p-color: #2D0A41;

html{
  font-family: 'Open Sans', sans-serif;
}
#root{
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: .5em;
}

#dashboard{
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 0 1em 0 1em;
  border: 2px solid $border-color;
  border-radius: .25em;
}

#main-container{
  margin-top: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 5;
  gap: .5em;
}

#toolbox{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  border: 2px solid $border-color;
  height: 100%;
  border-radius: .25em;;
}

#content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 3;
  height: 100%;
  border: 2px solid $border-color;
  border-radius: .25em;
}

#filter-bar{
  height: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary-color;
  gap: .25em;
}

.filter-field{
  box-sizing: border-box;
  height: 96%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid rgba(99, 97, 97, 0.397);
  border-right: 2px solid rgba(99, 97, 97, 0.397);
}

#metric-name{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: .5em;
  border-left: none;
}

#request-type {
  height: auto;
  border: none;
}

#sort-btn{
  height: auto;
  border: none
}
#favorite{
  border-right: none;
}
#query-card{
  background-color: aliceblue;
  border: 2px solid $border-color;
  border-radius: .25em;
  margin: .25em;
  width: 96%;
  display: flex;
  flex-direction: row;
  padding: .5em;
}

#toolbox{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#toolbox button {
  width: 80%;
  margin: .75em;
  height: 8%;
}



