// example of pulling up font from a file
@font-face {
  font-family: 'Tuber';
  src: url('./Tuber.ttf') format('truetype');
}


$border-color: lavender;
$secondary-color: #ffffff; 
$primary-color: #39074d;
$p-color: #39074d;
$light-background: rgb(227, 227, 242);

html{
  font-family: 'Open Sans', sans-serif;
}

#root{
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: .5em;
}

#dashboard{
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1em 0 1em;
  border: 2px solid $border-color;
  border-radius: .25em;
}

#main-container{
  margin-top: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 96%;
  max-height: 92vh;
  flex-grow: 1;
  gap: .5em;
 
}

#toolbox{
  display: flex;
  flex-grow: 1;
  max-width: 400px;
  min-width: 200px;
  justify-content: center;
  align-items: center;
  border: 2px solid $border-color;
  height: 100%;
  border-radius: .25em;;
}

#content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 2;
  height: 100%;
  padding: 0;
  border: 2px solid $border-color;
  border-radius: .25em;
  background-color: $light-background;
}

#filter-bar{
  height: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: $secondary-color;
  gap: 2rem;
}

.filter-field{
  box-sizing: border-box;
  padding: 0 24px;
  height: 96%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid rgba(99, 97, 97, 0.397);
  border-right: 2px solid rgba(99, 97, 97, 0.397);
}

#metric-name{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: .5em;
  border-left: none;
}

#request-type {
  height: auto;
  border: none;
}

#tag-selector{
  height: 40%; 
}

#sort-btn{
  height: auto;
  border: none
}

#metric-search-btn{
  font-family:'Tuber';
  font-size:16px;
  height:60%;
  transition:0.2s;
  &:hover{
    transform:scale(1.1);
  }
  &:active{
    transform:scale(1.0);
  }
}

#filled-star{
  color:rgb(244, 185, 24);
}

#favorite{
  border-right: none;
}
#query-card{
  background-color: white;
  border: 2px solid $border-color;
  border-radius: .25em;
  margin: .25em;
  width: 96%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.query-card-header{
  background-color: rgb(200, 200, 217);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.query-card-body{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  
  #query-data-text{
    flex: 6;
    padding: 8px 24px;
    max-width: 80%;
    max-height: 100px;
    overflow-y: auto;
  }

  #tags {
    flex: 4;
    padding: 8px 24px;
  }

  .favorite-star {
    flex: 1;
    text-align: right;
    padding-right: 24px;
  }
}

#query-data-text{
  font-size: 1.5em;
}

#tags{
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-self: flex-end;
  align-items: center;
}

.favorite-star{
  
  justify-self: flex-end;
  transition:0.2s;
  &:hover{
    cursor:pointer;
    transform:scale(1.2);
  }
}


#querycard-container {
  margin: 2rem 0;
  margin-left: 24px;
  width: 96%;
  max-width: 1440px;
  height: 90%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#toolbox {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  background-color: $light-background;
}

.toolbox-logo {
  width: 100%;
  height: auto; 
  margin-bottom: 16px;
}

#toolbox button {
  width: 80%;
  margin: .75em;
  height: auto;
}


#query-form-popup{
  position: fixed;
  bottom: 20%;
  right: 20%;
  background-color: $secondary-color;
  width: 30%;
  height: auto;
  padding: 4em;
  border: 2px solid rgb(181, 180, 180, 1);
  border-radius: .25em;
  box-shadow: 10px 5px 5px $border-color;
  display: none;
  flex-direction: column;
  justify-content: center;
  z-index:  3; 

}

#popup-close-btn{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  justify-self: flex-end;
  align-self: flex-end;
  margin-top: -2em;
  margin-right: -2em;
}

#popup-close-btn:hover{
  transform: scale(1.5);
}

#form-container{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#form-container input{
  padding-top: 1em;
  padding-bottom: 1em;
}

#form-container button{
  width: 100%;
  height: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

#auth-container{
  display:flex;
  justify-content:space-evenly;
  align-items:center;
}

#btn-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3em; 
}

#fav-toggle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right:24px;
  h2 {
    margin: 0;
  }
}